black==25.1.0
bottle==0.13.2
click==8.1.8
flake8==7.1.1
flake8-html==0.4.3
jinja2==3.1.5
MarkupSafe==3.0.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
proxy-tools==0.1.0
pyasn1==0.6.1
pycodestyle==2.12.1
pyflakes==3.2.0
pygments==2.19.1
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-Quartz==10.3.2
pyobjc-framework-Security==10.3.2
pyobjc-framework-WebKit==10.3.2
pywebview==5.3.2
rsa==4.9
tomli==2.2.1
typing-extensions==4.12.2
