bottle==0.13.2
proxy-tools==0.1.0
pyasn1==0.6.1
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-Quartz==10.3.2
pyobjc-framework-Security==10.3.2
pyobjc-framework-WebKit==10.3.2
pywebview==5.3.2
rsa==4.9
typing-extensions==4.12.2
